* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    background-color: #F7F9FB;
}

.container {
    width: 1232px;
    background-color: white;
    margin: 24px auto;
}

.gap8 {
    gap: 8px;
}

.gap24 {
    gap: 24px;
}

.gap32 {
    gap: 32px;
}

.flex {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.lh150 {
    line-height: 150%;
}

.f18 {
    font-size: 18px;
}

.f24 {
    font-size: 24px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.mb32 {
    margin-bottom: 32px;
}

.c999 {
    color: #999;
}

.nav {
    justify-content: space-between;
    padding: 16px 64px;
    box-sizing: border-box;
    align-items: center;
}

.nav h3 {
    font-size: 24px;
}

.nav-list {
    list-style: none;
    width: 346px;
    justify-content: space-between;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-btn-container {
    width: 114px;
}

.blue-fill-button {
    height: 40px;
    width: 100%;
    background-color: #1E6DF0;
    padding: 8px 24px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.con1 {
    padding: 64px;
    box-sizing: border-box;
    text-align: center;
}

.con2 {
    margin-bottom: 80px;
}

.con2 h1 {
    font-size: 48px;
    margin-bottom: 24px;
}

.content-info {
    height: 40%;
    padding: 24px;
}

.content-img {
    width: 100%;
    height: 60%;
    background: url(../images/image.png) no-repeat;
    background-size: 70px;
    background-position: center;
    background-color: #f4faff;
   
}

#head1 {
    font-weight: bold;
    font-size: 56px;
    padding-bottom: 24px;
}

#head1 span {
    display: block;
    background: linear-gradient(270deg,#2264ED 0%,#00A3FF 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.content-card:first-child {
    margin-left: 0;
}

.content-card:last-child {
    margin-right: 0;
}

.content-card {
    height: 630px;
    margin:0 16px;
    text-align: left;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
}

.content-card-list {
    margin: 24px 0;
    list-style: none;
    justify-content: space-between;
}

.content-card-list li {
    border-radius: 6px;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 14px;
    background-color: #f4faff;
}

.content-card-list li:first-child {
    margin-left: 0;
}

.content-card-list li:last-child {
    margin-right: 0;
}

.con3 {
    padding: 112px 64px;
    text-align: center;
    box-sizing: border-box;
}

.price-list-card-grid {
    display: grid;
    grid-template: auto auto/ 346px 346px 346px;
    gap: 32px;
}

.price-list-card {
    text-align: left;
    padding: 24px;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
}

.price-list-card > div {
    margin-bottom: 24px;
}

.price-list-card > h2 {
   font-size: 24px;
}

.price-list-card span {
    font: 14px Roboto;
}

.career-list-grid {
    text-align: left;
    display: grid;
    grid-template-columns: 528px 528px;
    row-gap: 32px;
    column-gap: 48px;
    margin-bottom: 80px;
}

.career-list-grid-head h1 {
    font-size: 48px;
    margin-bottom: 24px;
}

.career-list-grid-head p, .career-list-card p {
    font-size: 18px;
}

.career-list-card {
    padding: 32px;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
}

.career-list-card-head {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.career-list-card-head h2 {
    font-size: 24px;
}

.career-list-card-head span{
    width: max-content;
    height: inherit;
    padding: 4px 8px;
    font-size: 14px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 346px 346px 346px;
    gap: 32px;
}

.contact-card {
    padding: 24px;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
}
.contact-card a {
    text-decoration: underline;
}

.contact-card img {
    height: 48px;
    width: 48px;
    margin-bottom: 24px;
}

.contact-card-head {
    margin-bottom: 24px;
}

.contact-card-head h1 {
    margin-bottom: 16px;
}

.star {
    width: 20px;
    object-fit: contain;
}

.customer-card {
    text-align: left;
    padding: 32px;
    box-sizing: border-box;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
    width: 348px;
}

.customer-card-data p{
    font-size: 18px;
}

.customer-card-img {
    height: 56px;
    width: 56px;
    border-radius: 28px;
    position: relative;
    background: url(../images/image.png) no-repeat;
    background-color: #f4faff;
    background-size: 30px;
    background-position: center;
    margin-right: 16px;
}

.customer-card-text {
    justify-content: center;
    font-size: 16px;
    row-gap: 5px;
}

.customer-card-col {
    row-gap: 32px;
}

footer {
    margin: 24px auto;
}

.footer-container {
    padding: 80px 64px;
    box-sizing: border-box;
}

.footer-content {
    border-top: 1px solid #f4f4f4;
}

.footer-data h2{
    font-size: 24px;
}

.footer-data p{
    font-size: 14px;
}

.footer-data {
    margin-top: 32px;
    align-items: center;
}
