* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    background-color: #F7F9FB;
}

.container {
    width: 1232px;
    background-color: white;
    margin: 24px auto;
}

.gap8 {
    gap: 8px;
}

.gap24 {
    gap: 24px;
}

.gap32 {
    gap: 32px;
}

.flex {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.lh150 {
    line-height: 150%;
}

.f14 {
    font-size: 0.875rem;
}

.f16 {
    font-size: 1rem;
}

.f18 {
    font-size: 1.125rem;
}

.f24 {
    font-size: 1.5rem;
}

.f48 {
    font-size: 3rem;
}

.f56 {
    font-size: 3.5rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.mb32 {
    margin-bottom: 32px;
}

.c999 {
    color: #999;
}

.nav {
    justify-content: space-between;
    padding: 16px 64px;
    box-sizing: border-box;
    align-items: center;
}

.nav h3 {
    cursor: pointer;
}

.nav-list {
    list-style: none;
    width: 346px;
    justify-content: space-between;
}

.nav-list li{
    padding: 5px;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list li:hover{
    background-color: #1E6DF0;
    border-radius: 6px;
}

.nav-list li:hover a{
    color: #fff;
}

.nav-btn-container {
    width: 114px;
}

.blue-fill-button {
    height: 40px;
    width: 100%;
    background-color: #1E6DF0;
    padding: 8px 24px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.blue-fill-button:hover {
    box-shadow: 0 0 5px #00000086;
    font-weight: bold;
}

.con1 {
    padding: 64px;
    box-sizing: border-box;
    text-align: center;
}

.con2 {
    margin-bottom: 80px;
}

.con2 h1 {
    font-size: 3rem;
    margin-bottom: 24px;
}

.content-info {
    height: 40%;
    padding: 24px;
}

.content-img {
    width: 100%;
    height: 60%;
    background: url(../images/image.png) no-repeat;
    background-size: 70px;
    background-position: center;
    background-color: #f4faff;
    
}
.content-img img {
    height: 100%;
    width: 100%;
}

#head1 {
    font-weight: bold;
    font-size: 3.5rem;
    padding-bottom: 24px;
}

#head1 span {
    display: block;
    background: linear-gradient(270deg,#2264ED 0%,#00A3FF 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.content-card:first-child {
    margin-left: 0;
}

.content-card:last-child {
    margin-right: 0;
}

.content-card {
    height: 630px;
    margin:0 16px;
    text-align: left;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
}

.content-card-list {
    margin: 24px 0;
    list-style: none;
    justify-content: space-between;
}

.content-card-list li {
    border-radius: 6px;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 0.875rem;
    background-color: #f4faff;
}

.content-card-list li:hover {
    background-color: #1e6ef0b6;
}

.content-card-list li:first-child {
    margin-left: 0;
}

.content-card-list li:last-child {
    margin-right: 0;
}

.con3 {
    padding: 112px 64px;
    text-align: center;
    box-sizing: border-box;
}

.price-list-card-grid {
    display: grid;
    grid-template-columns: 346px 346px 346px;
    gap: 32px;
}

.price-list-card {
    text-align: left;
    padding: 24px;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
}

.price-list-card > div {
    margin-bottom: 24px;
}

.price-list-card h2 {
   font-size: 1.5rem;
}

.price-list-card span {
    font: 0.875rem Roboto;
}

.career-list-grid {
    text-align: left;
    column-gap: 48px;
    margin-bottom: 80px;
}

.career-list-grid-head h1 {
    font-size: 3rem;
    margin-bottom: 24px;
}

.career-list-grid-head p, .career-list-card p {
    font-size: 1rem;
}

.career-list-card {
    padding: 32px;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
}

.career-list-card-head {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.career-list-card-head h2 {
    font-size: 1.4rem;
}

.career-list-card-head span{
    width: max-content;
    height: inherit;
    padding: 4px 8px;
    font-size: 0.875rem;
}

.contact-grid {
    display: grid;
    grid-template-columns: 346px 346px 346px;
    gap: 32px;
}

.contact-card {
    padding: 24px;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
}
.contact-card a {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.contact-card img {
    height: 48px;
    width: 48px;
    margin-bottom: 24px;
}

.contact-card-head {
    margin-bottom: 24px;
}

.contact-card-head h1 {
    margin-bottom: 16px;
}

.star {
    width: 20px;
    object-fit: contain;
}

.customer-container {
    display: flex;
}

.customer-card {
    text-align: left;
    padding: 32px;
    box-sizing: border-box;
    border: 2px solid #f4f4f4;
    border-radius: 6px;
    width: 348px;
}

.customer-card-data p{
    font-size: 1.125rem;
}

.customer-card-img {
    height: 56px;
    width: 56px;
    border-radius: 28px;
    position: relative;
    background: url(../images/image.png) no-repeat;
    background-color: #f4faff;
    background-size: 30px;
    background-position: center;
    margin-right: 16px;
    overflow: hidden;
}
.customer-card-img img {
    position: absolute;
    height: inherit;
    object-fit: cover;   
}

.profile-left {
    left: -13px;
}

.customer-card-text {
    justify-content: center;
    font-size: 1rem;
    row-gap: 5px;
}

.customer-card-col {
    row-gap: 32px;
}

footer {
    margin: 24px auto;
}

.footer-container {
    padding: 80px 64px;
    box-sizing: border-box;
}

.footer-content {
    border-top: 1px solid #f4f4f4;
}

.footer-data h2{
    font-size: 1.5rem;
}

.footer-data p{
    font-size: 0.875rem;
}

.footer-data {
    margin-top: 32px;
    align-items: center;
}

.topnav {
    position: relative;
}

.topnav .icon {
    display: none;
}

#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    width: max-content;
    top:10vh;
    left: 15vw;
    padding: 20px;
    background-color: #fff;
    visibility: hidden;
}

#popup iframe {
    height: 60vh;
    width: 70vw;
    border: 0;
}

#popup button {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    float: right;
    cursor: pointer;
    margin-bottom: 10px;
}

#popup img {
    height: 100%;
    width: 100%;
}

#popup.active {
    visibility: visible;
}

.content-container::-webkit-scrollbar, .price-list-container::-webkit-scrollbar {
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 16px;
    }

    .topnav .nav-list {
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        width: 80px;
        background-color: white; 
        z-index: 1; 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        font-size: 0.875rem;
    }

    .topnav .icon {
        display: block;
        float: right;
    }

    .icon img {
        height: 25px;
        width: 25px;
    }

    .topnav.responsive .nav-list {
        display: block !important;
    }

    .blue-fill-button {
        height: 2rem;
        padding: 4px;
    }

    .content-container {
        overflow-x: scroll;
    }

    .content {
        width: max-content;
        gap: 16px;
        flex-wrap: nowrap;
        align-items: center;
    }

    .content-card {
        width: 300px;
        margin: 0;
        height: max-content;
        align-items: center;
    }

    .content-info {
        width: 95%;
        padding: 5px;
    }
    
    .content-info p {
        font-size: 0.875rem;
    }
    
    .content-card-list {
        margin: 12px 0;
    }
    
    .content-card-list li {
        font-size: 0.75rem;
    }

    .content-img {
        height: 40%;
    }

    .customer-container {
        flex-direction: column;
    }

    .nav-list {
        width: 100%;
        flex-direction: column;
        gap: 8px;
    }

    .price-list-container {
        overflow-x: scroll;
    }
    
    .price-list-card-grid {
        grid-template-columns: 320px 320px 320px;
        gap: 16px;
    }

    .price-list-card {
        padding: 16px;
    }
    
    .contact-grid {
        justify-items: center;
        grid-template-columns: inherit;
        gap: 16px;
    }

    .price-list-card h2 {
        font-size: 1rem;
     }

    .price-list-card p {
        font-size: 0.8rem;
     }

    .career-list-grid {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .career-list-grid h1 {
        font-size: 1.6rem;
        margin-bottom: 12px;
    }

    .career-list-card {
        padding: 16px;
    }

    #career-list-col1 {
        margin-bottom: 20px;
    }

    .career-list-card-head h2 {
        font-size: 1rem;
    }
    
    .career-list-card-head span {
        font-size: 0.7rem;
    }
    
    .career-list-grid-head p, .career-list-card p {
        font-size: 0.8rem;
    }

    .customer-card {
        width: 100%;
        padding: 16px;
    }

    .customer-card-col {
        gap: 16px;
    }

    .customer-card p {
        font-size: 0.875rem;
    }

    .customer-card-img {
        height: 48px;
        width: 48px;
        border-radius: 24px;
        margin-right: 8px;
    }

    .customer-card-text h4{
        font-size: 0.9rem;
    }
    
    .customer-card-text p{
        font-size: 0.875rem;
    }

    .contact-grid {
        justify-items: center;
    }

    .contact-card {
        padding: 12px;
        width: 80%;
    }

    .contact-card a {
        font-size: 0.875rem;
    }

    .contact-card img {
        height: 36px;
        width: 36px;
        margin-bottom: 12px;
    }

    .contact-card-head {
        margin-bottom: 12px;
    }

    .contact-card-head h1 {
        font-size: 1.2rem;
        margin-bottom: 12px;
    }
    
    .contact-card-head p {
        font-size: 0.875rem;
    }

    .con1 {
        padding: 16px;
    }
    
    .con2 {
        margin-bottom: 30px;
    }
    
    .con2 p {
        font-size: 0.875rem;
    }

    .con2 h1 {
        font-size: 1.4rem;
        margin-bottom: 8px;
    }

    #head1 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .mb32 {
        margin-bottom: 16px;
    }
    
    .f18 {
        font-size: 0.875rem;
    }

    .f24 {
        font-size: 1rem;
    }

    .gap32 {
        gap: 1rem;
    }

    #popup {
        top:20vh;
        left: 2vw;
        padding: 16px;
    }
    
    #popup iframe {
        height: 50vh;
        width: 90vw;
    }

}

@media (min-width: 480px) and (max-width: 768px) {
    
    #popup {
        top:20vh;
        left: 10vw;
        padding: 18px;
    }
    
    #popup iframe {
        height: 50vh;
        width: 80vw;
        border: 0;
    }

    .container {
        width: 100%;
        padding: 16px;
    }

    .topnav .nav-list {
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        width: 100px;
        background-color: white; 
        z-index: 1; 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        font-size: 0.875rem;
    }

    .topnav .icon {
        display: block;
        float: right;
    }

    .icon img {
        height: 30px;
        width: 30px;
    }

    .topnav.responsive .nav-list {
        display: block !important;
    }

    .blue-fill-button {
        height: 2rem;
        padding: 4px;
    }

    .content-container {
        overflow-x: scroll;
    }

    .content {
        width: max-content;
        gap: 16px;
        flex-wrap: nowrap;
        align-items: center;
    }

    .content-card {
        width: 300px;
        margin: 0;
        height: max-content;
        align-items: center;
    }

    .content-info {
        width: 95%;
        padding: 5px;
    }
    
    .content-info p {
        font-size: 0.875rem;
    }
    
    .content-card-list {
        margin: 12px 0;
    }
    
    .content-card-list li {
        font-size: 0.75rem;
    }

    .content-img {
        height: 40%;
    }

    .customer-container {
        flex-direction: column;
    }

    .nav-list {
        width: 100%;
        flex-direction: column;
        gap: 8px;
    }

    .contact-grid {
        grid-template-columns: inherit;
        gap: 16px;
    }

    .price-list-card-grid {
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .price-list-card h2 {
        font-size: 1rem;
     }

    .price-list-card p {
        font-size: 0.875rem;
     }

    .career-list-grid {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .career-list-grid h1 {
        font-size: 1.6rem;
        margin-bottom: 12px;
    }

    .career-list-card {
        padding: 16px;
    }

    #career-list-col1 {
        margin-bottom: 20px;
    }

    .career-list-card-head h2 {
        font-size: 1rem;
    }
    
    .career-list-card-head span {
        font-size: 0.7rem;
    }
    
    .career-list-grid-head p, .career-list-card p {
        font-size: 0.875rem;
    }

    .customer-card {
        width: 100%;
        padding: 16px;
    }

    .customer-card-col {
        flex-direction: row;
        gap: 5px;
    }

    .customer-card p {
        font-size: 0.875rem;
    }

    .customer-card-img {
        height: 48px;
        width: 48px;
        border-radius: 24px;
        margin-right: 8px;
    }

    .customer-card-text h4{
        font-size: 0.9rem;
    }
    
    .customer-card-text p{
        font-size: 0.875rem;
    }

    .contact-grid {
        justify-items: center;
    }

    .contact-card {
        padding: 12px;
        width: 80%;
    }

    .contact-card a {
        font-size: 0.875rem;
    }

    .contact-card img {
        height: 36px;
        width: 36px;
        margin-bottom: 12px;
    }

    .contact-card-head {
        margin-bottom: 12px;
    }

    .contact-card-head h1 {
        font-size: 1.2rem;
        margin-bottom: 12px;
    }
    
    .contact-card-head p {
        font-size: 0.875rem;
    }

    .con1 {
        padding: 16px;
    }
    
    .con2 {
        margin-bottom: 20px;
    }
    
    .con2 p {
        font-size: 0.875rem;
    }

    .con2 h1 {
        font-size: 1.4rem;
        margin-bottom: 8px;
    }

    #head1 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .mb32 {
        margin-bottom: 16px;
    }
    
    .f18 {
        font-size: 0.875rem;
    }

    .f24 {
        font-size: 1rem;
    }

    .gap32 {
        gap: 1rem;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    
    #popup {
        top:15vh;
        left: 10vw;
        padding: 16px;
    }
    
    #popup iframe {
        height: 70vh;
        width: 80vw;
    }
    
    .container {
        width: 100%;
        padding: 32px;
    }

    .content-container {
        overflow-x: scroll;
    }

    .content {
        width: max-content;
        gap: 16px;
        flex-wrap: nowrap;
        align-items: center;
    }

    .content-card {
        width: 300px;
        margin: 0;
        height: max-content;
        align-items: center;
    }

    .content-info {
        width: 95%;
        padding: 5px;
    }
    
    .price-list-card-grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .price-list-card h2 {
        font-size: 1.3rem;
    }

    .customer-container {
        display: flex;
        flex-direction: column;
    }

    .customer-card-col {
        flex-direction: row;
        gap: 32px;
    }

    .customer-card {
        width: 49%;
    }

    .customer-card-data p {
        font-size: 1rem;
    }

    .contact-grid {
        grid-template-columns: 49% 49%;
        gap: 16px;
    }

    .contact-card-head h1 {
        font-size: 1.5rem;
    }

    .con2 {
        margin-bottom: 50px;
    }

    .con2 h1 {
        font-size: 2rem;
    }

    .career-list-grid-head h1 {
        font-size: 2rem;
    }

    .career-list-card-head h2 {
        font-size: 1.3rem;
    }
}

@media (min-width: 1350px) {
    .container {
        width: 1350px;
    }

    .price-list-card-grid, .contact-grid {
        grid-template-columns: 385px 385px 385px;
    }

    .customer-card {
        width: 385px;
    }
}